body {
  background-color: white;
}

.header {
  background-color: aqua;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.header ul {
  background-color: aqua;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: justify-between;
  gap: 20px;
}

.header button {
  background-color: gray;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

.header button:hover {
  background-color: red;
}

#ux {
  color: blueviolet;
  gap: 100px;
  size: 30px;
  font-size: 30px;
  border: 1px solid red;
}
#ui {
  color: blue;
  gap: 100px;
  size: 30px;
  font-size: 30px;
  border: 5px solid blue;
}

#paragraph {
  color: green;
  gap: 30px;
  size: 80px;
  font-size: 10px;
}


#contact {
  color: white;
  gap: 30px;
  size: 80px;
  font-size: 20px;
  border: 5px solid blue;
  background-color: blue ;
  border-radius: 10px;
}
#portfolio {
  color: black;
  gap: 20px;
  size: 80px;
  font-size: 20px;
  border: 3px solid blue;
  background-color: white;
  border-radius: 5px;
}
#Am {
  color: black;
  font-size: 50px;
  background-color: white;
}
#MDS {
  font-family: Arial, sans-serif;
  color: black;
  font-size: 45px;
  gap: 20px;
}

#uud {
  color: black;
  gap: 20px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#wbd {
  color: black;
  gap: 20px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#AD {
  color: black;
  gap: 20px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#GD {
  color: black;
  gap: 20px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#service-intro {
  font-family: Arial, sans-serif;
  color: black;
  font-size: 10px;
  gap: 5px;
}

.upper {
   background-color: white;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: justify-between;
  font-family:'Times New Roman', Times, serif;

}

.upper-2 {
  color: black;
  font-size: 15px;
  font-family:'Times New Roman', Times, serif;
}

.upper-3 {
  color: blue;
  font-size: 60px;
  font-family:'Times New Roman', Times, serif;
  margin: 0%;
  
}
.upper-4 {
  color: blue;
  font-size: 60px;
  font-family:'Times New Roman', Times, serif;
  margin: 0%;
  
}
.upper-5 {
  color:black;
  font-size: 15px;
  font-family:'Times New Roman', Times, serif;
}



