body {
  background-color: white;
}

.header {
  background-color: aqua;


}

.ul {
  background-color: aqua;
display:flex ;
list-style-type:none;

  justify-content: space-between;
  align-items: center;


}
